body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0rem 1.5rem;
    box-sizing: border-box;
}

.item-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 100%;
}

.col-1 {
    width: 50%;
}

.col-2 {
    width: 25%;
}

.col-3 {
    width: 25%;
}

.for-name {
    display: block;
    width: 100%;
    color: cadetblue;
}

input {
    font-size: 1.2rem;
    margin: 0.25rem 0rem;
}

input {
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.total {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 2rem 1rem 1rem 1rem;
    text-align: center;
}

.fa-cart-shopping {
    color: cadetblue;
}

.fa-coins {
    color: goldenrod;
}

.fa-dollar-sign {
    color: green;
}

.buttons {
    margin: 2rem 1rem 3rem 1rem;
}

button {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
    padding: 0.75rem 1rem;
    border: 2px solid green;
    border-radius: 100px;
    margin: 1rem;
}

@media screen and (max-width: 30em) {
    .buttons {
        margin: 1rem 0.75rem;
    }

    button {
        font-size: 0.75rem;
        padding: 0.375rem 0.625rem;
        letter-spacing: 0.0625rem;
        margin: 1rem 0.5rem 3.5rem 0.5rem;
    }

    input {
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    }

    .total {
        font-size: 1.2rem;
        font-weight: 700;
        padding: 2rem 1rem 1rem 1rem;
        text-align: center;
    }
}